body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
}

.container {
   padding: 0 100px;
   margin: 0 auto;
   max-width: 1300px;
}

.row {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

a {text-decoration: none;}

.ta-c {
   text-align: center;
}

.c-w {
   color: white;
}

.top-nav {
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.logo:active {
   opacity: 0.6;
}

.top-nav__items {
   display: flex;
   align-items: center;
   list-style: none;
   margin: 0;
}

.top-nav__list {
   position: relative;
   display: inline-block;
}

.top-nav__link {
   font-size: 15px;
   color: black;
   padding: 16px; 
   position: relative;
}

.top-nav__link:active {
   background-color: rgba(25, 25, 25, 0.7);
   color: #fff;
}

.active, .top-nav__link:hover {
   border-bottom: 3px solid black;
}

.btn-tel {
   padding: 8px 16px;
   margin: 8px 0;
   font-weight: bold;
   font-size: 15px;
   line-height: 24px;

   color: white;
   background: #00BAFC;
   border-radius: 5px;
}

.btn-tel:hover {
   background-color: transparent;
   color: #00BAFC;
 
   box-shadow: inset 0 0 0 3px  #00BAFC;
}

.btn-tel:active {
   background: rgba(0, 186, 252, 0.6); 
   color: #fff;
   box-shadow: none;
}

.list-child {
   display: none;
   position: absolute;
   top: 35px;
   background-color: #ffffff;
   min-width: 140px;
   box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
   z-index: 1;
   list-style: none;
   padding: 0;
   font-size: 15px;
   line-height: 24px;
}

.list-child__link {
   padding: 16px;
   color: black;
   display: block;
}

.list-child__link:hover {
   color: white;
   background-color: #00BAFC;
}

.list-child__link:active {
   background-color: rgba(0, 186, 252, 0.6);
}

.top-nav__list:hover .list-child {
   display: block;
}

.next-level {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 80px 0;
}

.next-level__left {
   padding-right: 172px;
}

.next-level__title {
   margin: 0;
   margin-top: 24px;
}

.next-level__text {
   margin-bottom: 24px;
}

.btn {
   padding: 8px 16px;
   margin-right: 16px;

   background-color: #00BAFC;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
}

.btn:hover {
   background-color: rgba(0, 186, 252, 0.8);
}

.btn:active {
   background-color: rgba(0, 186, 252, 0.6);
}

.next-level__right {
   position: relative;
   
}

.next-level__right::before {
   content: "";
   position: absolute;
   width: 150px;
   height: 105px;
   top: 30%;
   left: 35%;
   background-image: url("/images/youtube-play-button.png");
   cursor: pointer;
}

/* ***************SERVICES************** */

.services {
   padding: 56px 0;
}

.section-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 130%;
}

.section-text {
   width: 720px;
   margin: 0 auto;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 24px;
}

.services-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 8px 0 40px;

}

.services-card {
   position: relative;
   top: 24px;
   padding-top: 170px;
   margin-right: 70px;
   margin-bottom: 48px;
   width: 320px;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-repeat: no-repeat;
   background-position: center 24px;
   box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.services-card:nth-child(3n) {
   margin-right: 0;
}

.services-card:hover {
   box-shadow: 0px 12px 21px 0px rgba(0, 0, 0, 0.1);
}

.services-card:active {
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}


.services-card__title {
   margin: 0;
   margin-bottom: 16px;
   padding: 0 87px;
}

.services-card__text {
   padding-bottom: 24px;
   margin: 0;
}

.web {
   background-image: url("/images/website-illustration.png");
}

.telegram {
   background-image: url("/images/bot-illustration.png");
}

.smm {
   background-image: url("/images/smm-illustration.png");
}

.design {
   background-image: url("/images/design-illustration.png");
}

.crm {
   background-image: url("/images/crm-illustration.png");
}

.services-links {
   margin-bottom: 16px;
}

.btn-underline {
   color: rgba(0, 186, 252, 1);
   text-decoration: underline;
}

.about .section-title {
   margin-top: 56px;
   margin-bottom: 16px;
}

/* *************** ABOUT ****************/

.road {
   display: flex;
   align-items: center;
   margin: 0 auto 32px;
   width: 832px;

}

.road-image {
   margin-right: 32px;
}

.road-info__title {
   font-weight: bold;
   font-size: 20px;
   line-height: 130%;
}

.road-info__text {
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
}

.order-1 {
   order: 2;
   margin-left: 32px;
}

.center {
   display: flex;
   justify-content: center;
   width: 167px;
   margin: 0 auto;
   margin-bottom: 56px;
}

/* *******************ORDER********************** */

.order {
   background-color: #00BAFC;
   padding-top: 56px;
   padding-bottom: 64px;
}

.to-order {
   width: 348px;
   padding: 24px;
   border-radius: 5px;
   background-color: white;
   margin: 0 auto;
}

.to-order__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 304px;
   justify-content: space-around;
}

input {
   padding: 16px;
   width: 300px;
   margin-bottom: 16px;
   background-color: #F3F3F3;
   border-radius: 5px;
   border: none;
}

.selector {
   padding: 16px;
   width: 336px;
   margin-bottom: 16px;
   height: 56px;
   background-color: #F3F3F3;
   border-radius: 5px;
   border: none;
}

::placeholder {
   color: black;
   font-size: 16px;
   line-height: 150%;
}

/* ***************FOOTER************** */

.footer {
   background-color: #000;
   padding: 56px 0;
}

.footer-row {
   display: grid;
   grid-template-columns:420px 230px 230px;
}

.copyright {
   padding-right: 100px;
}

.footer-title {
   font-weight: bold;
   font-size: 20px;
   line-height: 130%;
}

.footer__items {
   list-style: none;
   padding: 0;
}

.footer-list {
   margin: 5px 0;
}

.footer__link {
   color: #fff;
   font-size: 16px;
   line-height: 24px;
   background-repeat: no-repeat;
}

.footer__link:hover {
   color: #00BAFC;
}

.footer__link:active {
   color: rgba(0, 186, 252, 0.6);
}

.tg {
   background-image: url("/images/telegram.svg");
   padding-left: 30px;
   width: 22px;
   height: 24px;
}

.facebook {
   background-image: url("/images/facebook.png");
   padding-left: 30px;
   width: 22px;
   height: 24px;
}

.instagram {
   background-image: url("/images/instagram.png");
   padding-left: 30px;
   width: 22px;
   height: 24px;
}

.tg:active, .facebook:active, .instagram:active {
   opacity: 0.6;
}

